.sidebar-link {
    width: 48px;
    height: 48px;
    color: #606166;
    margin: 16px 0;
    border-radius: 4px;
}

.sidebar-link:hover {
    color: #4A4B55;
    background-color: #fafafa;
}

.sidebar-link:active {
    color: #303139;
    background-color: #f0f0f0;
}

.sidebar-link > .icon {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}