.sidebar {
    height: 100%;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ECEDF6;
}

.sidebar > .logo {
    width: 48px;
    height: 48px;
    color: #ff6f61;
}